html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

#container {
   min-height:100%;
   position:relative;
}

main {
    padding: 0.5rem;
    padding-bottom: 3.5rem;
}

.global-nav {
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: #ccc;
    border-bottom: 1px solid #888;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.nav-item .active {
    background-color: #aaa;
    font-weight: bold;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100vw;
   height: 3rem;
   background: #ccc;
}
