{{- define "main" -}}
<h1>Author: {{ .Title }}</h1>
{{ partial "alt-formats.html" . }}
{{ .Content }}
{{- with .Param "email" }}
<a
        href="mailto:{{- . -}}"
        title="{{- . -}}"
    target="_blank">Email</a>
{{ end -}}
{{- with .Param "github" }}
<a
    href="https://github.com/{{- . -}}"
    title="@{{- . -}}"
    target="_blank">Github</a>
{{ end -}}
{{ with .Pages }}
<hr>
<section aria-label="Articles by {{ $.Title }}" role="feed" aria-setsize="{{ len . }}">
{{ range . }}
<article>
<header>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ partial "post-info" . }}
                </header>
                    {{ .Summary }}
                    <a href="{{ .RelPermalink }}">Read More</a>
        </article>
{{ end }}
</section>
</ol>
{{ end }}
{{- end -}}
